body{
  font-family: sans-serif;
  text-align: center;
  margin-top: 30px;
  background: url("/img/1554.jpg") ;
}
h2{
    position: relative;
    bottom: 60px;
   
}
button.startB{
  cursor: pointer ;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #444;
  border-radius: 30px;
  user-select: none;
  font-size: 20px;
  position: relative;
  bottom: 60px;
}
button.startB:hover{
  background: rgb(47, 255, 64);
}

button.restartB{
  cursor: pointer ;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #444;
  border-radius: 8px;
  user-select: none;
}
button.restartB:hover{
  background:rgb(255, 0, 0);
}

.instraktionBtn{
    padding:10px;
     font-size: 15px;
     border:solid 2px;
    border-radius: 10px;
    position: relative;
    right: 470px;
    bottom: 60px;
}
.instraktionBtn:hover{
    background-color: rgb(204, 204, 204);
}


#score{
  color: rgb(0, 0, 255);
  font-weight: bold;
  font-size: 24px;
}
#colors , #boxes {
  display: flex ;
  justify-content: center;
  gap : 30 px ;
  margin-top: 35 px ;
}

.color{
 
  
  cursor: pointer;
  transition: transform 0.2s ;
  margin-bottom: 90px;
  margin-right: 80px;
  animation: pulse 1.5s infinite ease-in-out;
  transition: transform 0.2s;
}
@keyframes pulse{
    0%{ transform: scale(1);}
    50%{transform: scale(1.08);}
}
.color:hover{
  transform: scale(1.15);
 
}

#cRed { width: 60px; height: 60px; position: relative; bottom: 100px; right: 90px;}
#cOrange {width: 60px; height: 60px;position: relative; bottom: 200px; right: 40px;}
#cBlue{width: 60px; height: 60px;position: relative; bottom: 80px; right: 40px;}
#cYellow{width: 60px; height: 60px;position: relative; bottom: 50px; left:90px}
#cGreen{ width: 60px; height: 60px;position: relative; bottom: 190px; left:90px}
#cBrown{ width: 60px; height: 60px;position: relative; bottom: 90px; left:80px}

img{
    width: 100px;
    height: 100px;
}
.box{
  width: 150 px ;
  height: 120 px;
  border: 3px solid black ;
  display: flex ;
  justify-content: center ;
  align-items: center ;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, background 0.3s;
  margin-bottom: 50px;
  margin-right: 80px;
  padding: 20px;
}
.box:hover{
  transform: scale(1.08);
  background: #f5f5f5;
}

#bRed{background: red;font-size: 25px; padding: 50px; }
#bYellow{background: yellow;font-size: 25px;padding: 50px;}
#bBlue{background: blue;font-size: 25px;padding: 50px; }
#bOrange{background:  rgb(255, 145, 0);font-size: 25px;padding: 50px;}
#bGreen{background: rgb(0, 255, 64);font-size: 25px;padding: 50px;}
#bBrown{background: rgb(111, 63, 0);font-size: 25px;padding: 50px;}

